@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #dedede;
}

.main {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
   max-height: 600px;
  max-width: 400px;
  border-radius: 1rem;
  font-family: 'Lato', sans-serif;
  font-size: 18px;
  background-color: #ffffff;
  padding: 32px;
}

h1 {
  letter-spacing: 1px;
  margin: 0;
}

h3 {
  margin: 25px 0 10px;
}

h4 {
  margin: 0;
}

.balance{
  background-color: rgb(0, 0, 48);
  box-shadow: var(--box-shadow);
  padding: 16px;
  color: #fff;
  border-radius: 3px;
}

.balance h4,
.balance h1{
  padding: 0 8px;
}

.inc-exp-container {
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
  gap: 16px;
}

.inc-exp-container > div {
  flex: 1;
  text-align: center;
}

.money-in{
  background-color: #abdbe3;
  box-shadow: var(--box-shadow);
  padding: 5px 0;
  width: 100px;
  border-radius: 5px;
}

.money-out{
  background-color: #eab676;
  box-shadow: var(--box-shadow);
  padding: 5px 0;
  width: 100px;
  border-radius: 5px;
}

.money {
  font-size: 20px;
  letter-spacing: 1px;
  margin: 5px 0;
}

label {
  display: inline-block;
  margin: 10px 0;
}

input[type='text'],
input[type='number'] {
  border: 1px solid #dedede;
  border-radius: 2px;
  display: block;
  font-size: 13px;
  padding: 10px 0 10px 5px;
  width: 100%;
}

.btn {
  cursor: pointer;
  background-color: #444;
  box-shadow: var(--box-shadow);
  color: #fff;
  border: 0;
  display: block;
  font-size: 16px;
  margin: 20px 0 0;
  padding: 10px;
  width: 100%;
}

.btn:focus,
.delete-btn:focus {
  outline: 0;
}

.list {
  list-style-type: none;
  padding: 0;
  margin-bottom: 40px;
}

.list li {
  background-color: #fff;
  box-shadow: var(--box-shadow);
  color: #333;
  display: flex;
  justify-content: space-between;
  position: relative;
  padding: 10px;
  margin: 10px 0;
}

.positive-amount {
  color: #287204;
}

.delete-btn {
  cursor: pointer;
  background-color: #e74c3c;
  border: 0;
  color: #fff;
  font-size: 20px;
  line-height: 20px;
  padding: 2px 5px;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(-100%, -50%);
  opacity: 0;
  transition: opacity 0.3s ease;
}

.list li:hover .delete-btn {
  opacity: 1;
}


/* @media screen and (max-width: 375px) {
  .container {
    width: 300px;
  }
} */
