@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

:root {
  --box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

* {
  box-sizing: border-box;
}

body {
  background-color: #ccc;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* min-height: 100vh; */
  /* margin: 0; */
  margin: auto;
  font-family: 'Lato', sans-serif;
  font-size: 18px;
}

/* 
html {
  min-width: 375px;
  margin: auto;
  font-family: sans-serif;
  color: #fff;
  background: hsl(218, 28%, 13%);
} */

.container {
  /* margin: 32px auto; */
  width: 400px;
  background-color: #fff;
  padding: 32px;

}

h1 {
  letter-spacing: 1px;
  margin: 0;
}

h3 {
  padding-bottom: 10px;
  margin: 40px 0 10px;
}

h4 {
  margin: 0;
}

.balance{
  background-color: rgb(0, 0, 48);
  box-shadow: var(--box-shadow);
  padding: 16px;
  color: #fff;
  border-radius: 3px;
}

.balance h4,
.balance h1{
  padding: 0 8px;
}

.inc-exp-container {
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
  gap: 16px;
}

.inc-exp-container > div {
  flex: 1;
  text-align: center;
}

.money-in{
  background-color: #abdbe3;
  box-shadow: var(--box-shadow);
  padding: 5px 0;
  width: 100px;
  border-radius: 5px;
}

.money-out{
  background-color: #eab676;
  box-shadow: var(--box-shadow);
  padding: 5px 0;
  width: 100px;
  border-radius: 5px;
}

.money {
  font-size: 20px;
  letter-spacing: 1px;
  margin: 5px 0;
}

label {
  display: inline-block;
  margin: 10px 0;
}

input[type='text'],
input[type='number'] {
  border: 1px solid #dedede;
  border-radius: 2px;
  display: block;
  font-size: 16px;
  padding: 10px;
  width: 100%;
}

.btn {
  cursor: pointer;
  background-color: #444;
  box-shadow: var(--box-shadow);
  color: #fff;
  border: 0;
  display: block;
  font-size: 16px;
  margin: 10px 0 0;
  padding: 10px;
  width: 100%;
}

.btn:focus,
.delete-btn:focus {
  outline: 0;
}

.list {
  list-style-type: none;
  padding: 0;
  margin-bottom: 40px;
}

.list li {
  background-color: #fff;
  box-shadow: var(--box-shadow);
  color: #333;
  display: flex;
  justify-content: space-between;
  position: relative;
  padding: 10px;
  margin: 10px 0;
}

.positive-amount {
  color: #287204;
}

.delete-btn {
  cursor: pointer;
  background-color: #e74c3c;
  border: 0;
  color: #fff;
  font-size: 20px;
  line-height: 20px;
  padding: 2px 5px;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(-100%, -50%);
  opacity: 0;
  transition: opacity 0.3s ease;
}

.list li:hover .delete-btn {
  opacity: 1;
}